@page
@model CourseManagement.Pages.RoomPage.DetailsModel

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.RoomCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Detail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.RoomName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Room?.Id">Edit</a> |
    <a asp-page="./RoomPage">Back to List</a>
</div>
