@page
@model CourseManagement.Pages.Student.DetailsModel

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Major)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Major.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditStudent" asp-route-id="@Model.Student?.Id">Edit</a> |
    <a asp-page="./StudentList">Back to List</a>
</div>
